@page "/"

<h1>People</h1>

@if (People == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Id</td>
                </tr>
            }
        </tbody>
    </table>
}