@page "/search"

<h3>Find person in Wiki</h3>

<input @bind="SearchName" />
<button @onclick ="SearchPeople">Search</button>


@if (@People != null)
    
{
    <table class="table">        
        <tbody>
            <thead>
                <tr>
                    <th>People.Count = @People.Count() </th>                    
                </tr>
                <tr>
                    <th>People.Count = @People.ToString() </th>
                </tr>
            </thead>

            @foreach (var person in People)
            {
                <tr>
                    <td>
                        Person = @person.Name
                    </td>                    
                </tr>
                <tr>
                    <td>
                        <PersonShort Person=@person />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


