@page "/search"

<h3>Find person in Wiki</h3>

<input @bind="SearchName" />
<button @onclick ="SearchPeople">Search</button>


@if (@People != null)
{
    <table class="table">        
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>
                        <PersonShort Person="@person" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
}


