@page "/search"

<h3>Find person in Wiki</h3>

<input @bind="SearchName" @onchange ="SearchPeople" />


@if (People != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>
                        <PersonShort Person="person" />
                    </td>

                </tr>
            }
        </tbody>
    </table>
}


