@page "/search"

<h3>Find person in Wiki</h3>

<input @bind="SearchName" />
<button @onclick ="SearchPeople">Search</button>


@if (@People != null)



            @foreach (var person in People)
            {
                <PersonShort Person=@person />
            }         


