@page "/search"
@using PeopleBlazor1.Components

<h3>Find person in Wiki</h3>

<input @bind="SearchName" @onkeypress="SearchPeople"/>

@*@if (People == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in People)
            {
                <tr>
                    <td>                        
                    <PersonShort Person = "person"/>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
}*@


